* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  // height: auto;
  // background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
  // background: linear-gradient(to bottom, #304352 0%, #d7d2cc 100%);
}

// .background__graphic {
//   animation: slide 3s ease-in-out infinite alternate;
//   background-image: linear-gradient(
//     30deg,
//     hsl(255, 100%, 94%) 50%,
//     #ccccff 50%
//   );
//   bottom: 0;
//   left: -50%;
//   opacity: 0.5;
//   position: fixed;
//   right: -50%;
//   top: 0;
//   z-index: -1;
// }

// .background__graphic--vector1 {
//   animation-direction: alternate-reverse;
//   animation-duration: 4s;
// }

// .background__graphic--vector2 {
//   animation-duration: 5s;
// }

// @keyframes slide {
//   0% {
//     transform: translateX(-25%);
//   }
//   100% {
//     transform: translateX(25%);
//   }
// }
